body {
    font-family: Arial;
    text-align: center;
    padding: 50px;
    background: #1a1a1a;
    color: #fff;
}

select, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

.signal-box {
    font-size: 28px;
    margin-top: 20px;
    padding: 15px;
    background: #222;
    border-radius: 10px;
}
